[Unit]
Description=Apache Exporter
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/suporte/apache-exporter/apache_exporter

[Install]
WantedBy=multi-user.target
